body {
    margin: 0;
    padding: 0;
    background-color: rgb(253, 212, 173);
    font-family: Arial, Helvetica, sans-serif
}
body::before {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        rgba(255, 189, 128, 0.5),
        rgba(255, 189, 128, 0.5)
    ), url(img/NecoArcWallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}
* {
    box-sizing: border-box;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.container {
    margin-bottom: 100px;
}
.column {
    width: 100%;
}
.atas {
    width: 100%;
    height: 100px;
}

.atas table {
    margin-top: 20px;
    margin-left: 75px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px black;
}
.atas span {
    font-size: 30px;
}
.atas img {
    width: 25px;
    width: 25px;
}
.atas h2 {
    font-size: 30px;
    float: left;
}
.atas h3 {
    float: left;
}
.tengah1 {
    width: 100%;
    height: 500px;
    float: left;
    position: relative;
}
.tengah1 .kiri {
    width: 55%;
    height: 200px;
}
.tengah1 .kiri h1 {
    font-size: 55px;
    margin-left: 75px;
    letter-spacing: 3px;
    color: white;
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
}
.tengah1 .kiri span {
    color: blue;
    text-shadow: 0 0 1px rgb(95, 95, 95), 0 0 1px rgb(95, 95, 95), 0 0 1px rgb(95, 95, 95);
    font-size: 55px;
    font-weight: bold;
}
.tengah1 .kiri h2 {
    margin-left: 75px;
    font-weight: normal;
    line-height: 30px;
    margin-top: -20px;
    color: white;
    text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
}
.tengah1 .kanan {
    width: 34%;
    margin-right: 120px;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 50px;
    background-color: white;
    border-radius: 10px;
    float: right;
    position: absolute;
    right: 0;
    bottom: 10%;
}
.tengah1 .kanan h3 {
    letter-spacing: 1px;
    margin-bottom: 25px;
}
.tengah1 .kanan input {
    padding: 12px;
    border-radius: 5px;
    width: 100%;
}
.tengah1 .kanan h5 {
    text-align: center;
    color: rgb(107, 107, 107);
    font-weight: normal;
    font-size: 13px;
}
.tengah1 .kanan a {
    text-decoration: none;
}
.kanan .text {
    border: 1px solid gray;
    background-color: rgba(198, 212, 214, 0.521);
    margin-top: 10px;
}
.kanan .password {
    border: 1px solid gray;
    background-color: rgba(198, 212, 214, 0.521);
    margin-top: 10px;
}
.kanan .submit {
    background-color: rgb(212, 41, 106);
    border: 0;
    color: white;
    font-size: 15px;
    transition: .1s ease-in;
}
.kanan .submit:hover {
    background-color: rgb(233, 107, 155);
}

/* bawah */
.bawah1 {
    width: 100%;
    height: 100px;
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.7));
    padding-top: 20px;
}
.bawah2 {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0 60px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.bawah1 h3 {
    color: blue;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}
.bawah1 h2 {
    margin-top: -10px;
    text-align: center;
    font-size: 30px;
}

.bawahatas {
    margin-bottom: 20px;
}
.kiri {
    width: 33.33%;
    float: left;
}
.kiri svg {
    margin-right: 20px;
    padding: 5px;
}
.kiri th {
    text-align: left;
    font-size: 20px;
}
.kiri span {
    font-size: 17px;
    font-weight: normal;
}
.tengah {
    width: 33.33%;
    float: left;
}
.tengah svg {
    margin-right: 20px;
    padding: 5px;
}
.tengah th {
    text-align: left;
    font-size: 20px;
}
.tengah span {
    font-size: 17px;
    font-weight: normal;
}
.kanan {
    width: 33.33%;
    float: right;
}
.kanan svg {
    margin-right: 20px;
    padding: 5px;
}
.kanan th {
    text-align: left;
    font-size: 20px;
}
.kanan span {
    font-size: 17px;
    font-weight: normal;
}

.palingbawah {
    background-color: rgb(24, 41, 88);
    width: 100%;
    padding: 20px 80px 20px 80px;
    position: relative;
}
.palingbawah a {
    text-decoration: none;
}
.palingbawah h5 {
    color: rgb(185, 185, 185);
    font-size: 15px;
    font-weight: normal;
    float: left;
}
.bawahbawah {
    margin-bottom: 100px;
}
.icon {
    position: absolute;
    right: 0;
    bottom: 35%;
    padding-right: 80px;
}
.icon svg {
    margin-left: 20px;
    color: white;
}

/* media */
@media (max-width: 800px) {
    body {
        margin: 0;
        padding: 0;
        background-color: rgb(253, 212, 173);
        font-family: Arial, Helvetica, sans-serif;
    }
    body::before {
        background-position-x: 0;
    }
    * {
        box-sizing: border-box;
    }
    .cf:before,
    .cf:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }
    
    .cf:after {
        clear: both;
    }
    
    /**
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */
    .cf {
        *zoom: 1;
    }
    
    .container {
        margin-bottom: 100px;
    }
    .column {
        width: 100%;
    }
    .atas {
        width: 100%;
        height: 80px;
        margin-left: 10px;
    }
    
    .atas table {
        margin-top: 20px;
        margin-left: 5px;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 5px black;
    }
    .atas span {
        font-size: 30px;
    }
    .atas img {
        width: 25px;
        width: 25px;
    }
    .atas h2 {
        font-size: 30px;
        float: left;
    }
    .atas h3 {
        float: left;
    }
    .tengah1 {
        width: 100%;
        height: 800px;
        float: left;
        position: relative;
    }
    .tengah1 .kiri {
        width: 100%;
        height: 200px;
    }
    .tengah1 .kiri h1 {
        font-size: 30px;
        margin-left: 15px;
        letter-spacing: 0;
        color: white;
        text-shadow: 0 0 5px 0 black;
    }
    .tengah1 .kiri span {
        color: blue;
        text-shadow: 0 0 5px 0 white;
        font-size: 30px;
        font-weight: bold;
    }
    .tengah1 .kiri h2 {
        margin-left: 15px;
        margin-right: 80px;
        font-weight: normal;
        font-size: 20px;
        line-height: 29px;
        margin-top: 0;
        color: white;
        text-shadow: 0;
    }
    .tengah1 .kanan {
        width: 90%;
        margin-left: 10px;
        margin-right: 20px;
        padding-left: 50px;
        padding-top: 20px;
        padding-right: 50px;
        background-color: white;
        border-radius: 10px;
        float: none;
        position: absolute;
        right: 0;
        bottom: 0%;
        box-shadow: 0 0 10px black;
    }
    .tengah1 .kanan h3 {
        letter-spacing: 0;
        margin-bottom: 25px;
        font-size: 18px;
        text-align: center;
    }
    .kanan label {
        color: rgb(63, 63, 63);
    }
    .tengah1 .kanan input {
        padding: 12px;
        border-radius: 5px;
        width: 100%;
    }
    .tengah1 .kanan h5 {
        text-align: center;
        color: rgb(107, 107, 107);
        font-weight: normal;
        font-size: 13px;
    }
    .tengah1 .kanan a {
        text-decoration: none;
    }
    .kanan .text {
        border: 1px solid gray;
        background-color: white;
        margin-top: 10px;
    }
    .kanan .password {
        border: 1px solid gray;
        background-color: white;
        margin-top: 10px;
    }
    .kanan .submit {
        background-color: rgb(212, 41, 106);
        border: 0;
        color: white;
        font-size: 15px;
        transition: .1s ease-in;
    }
    .kanan .submit:hover {
        background-color: rgb(233, 107, 155);
    }
    
    /* bawah */
    .bawah1 {
        width: 100%;
        height: 100px;
        background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.7));
        padding-top: 20px;
    }
    .bawah2 {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 0 20px;
        padding-top: 90px;
        padding-bottom: 20px;
    }
    
    .bawah1 h3 {
        color: blue;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .bawah1 h2 {
        margin-top: 0;
        text-align: center;
        font-size: 30px;
        margin-left: 30px;
        margin-right: 30px;
        color: rgb(37, 37, 37);
    }
    
    .bawahatas {
        margin-bottom: 0;
    }
    .kiri {
        width: 100%;
        float: left;
        padding-bottom: 20px;
    }
    .kiri svg {
        margin-right: 20px;
        padding: 5px;
    }
    .kiri th {
        text-align: left;
        font-size: 18px;
        color: rgb(37, 37, 37);
    }
    .bawahatas .kiri td {
        color: rgb(116, 116, 116);
    }
    .kiri span {
        font-size: 17px;
        font-weight: normal;
        color: rgb(116, 116, 116);
    }
    .tengah {
        width: 100%;
        float: left;
        padding-bottom: 20px;
    }
    .tengah svg {
        margin-right: 20px;
        padding: 5px;
    }
    .tengah th {
        text-align: left;
        font-size: 18px;
        color: rgb(37, 37, 37);
    }
    .tengah span {
        font-size: 17px;
        font-weight: normal;
        color: rgb(116, 116, 116);
    }
    .kanan {
        width: 100%;
        float: right;
        padding-bottom: 20px;
    }
    .kanan svg {
        margin-right: 20px;
        padding: 5px;
    }
    .kanan th {
        text-align: left;
        font-size: 18px;
        color: rgb(37, 37, 37);
    }
    .kanan span {
        font-size: 17px;
        font-weight: normal;
        color: rgb(116, 116, 116);
    }
    
    .palingbawah {
        background-color: rgb(24, 41, 88);
        width: 100%;
        padding: 20px 20px 20px 20px;
        position: relative;
    }
    .palingbawah h5 {
        color: rgb(185, 185, 185);
        font-size: 15px;
        font-weight: normal;
        float: left;
    }
    .bawahbawah {
        margin-bottom: 100px;
    }
    .icon {
        position: absolute;
        right: 0;
        bottom: 35%;
        padding-right: 10px;
    }
    .icon svg {
        margin-left: 20px;
        color: white;
    }
}
